* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    background-color: #747180;
    color: #D6CFCB;
}

section {
    width: 70%;
    margin: 0 auto;
    .title {
        margin: 20px auto;
        text-align: center;
        .scorecard {
            border: 2px solid #D6CFCB;
            width: 250px;
            margin: 0 auto;
            h2{
                border-bottom: 2px solid #D6CFCB;
            }
        }
    }
    .box-container {
        width: 250px;
        margin: 40px auto;
        .A,
        .B,
        .C {
            display: flex;
        }
        .box {
            width: 79px;
            height: 79px;
            border: 2px solid black;
            padding: 3px;
            font-size: 50px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            color: #D6CFCB;
        }
        .one, .two, .three{
            border-top: none;
        }

        .one, .four, .seven{
            border-left: none;
        }

        .three, .six, .nine{
            border-right: none;
        }

        .seven, .eight, .nine{
            border-bottom: none;
        }
    }
    .buttondiv {
        text-align: center;
        .replay{
            button{
                font-family: 'Raleway', sans-serif;
                background-color: #CCB7AE;
                color: black;
                padding: 15px;
                border: none;
                border-radius: 5px;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}